//size
$desktop : 1025px ;
$tablet : 767px ;
$mobile : 360px ;
$bigHD: 100%;
$areaHeight: 100%;
$HD:1240px;
$grid: $bigHD;
$header:55px;
$areaHeight: $header + 20px;

//colors
$white : #fefefe ;
$lightGray : #9e9e9e ;
$gray : #8a8a8a ;
$grey : #727272 ;
$darkGray : #5a5a5a ;
$lighterBlue : #75C8FE ;
$lightBlue : #b9ccdb ;
$blue : #01a0e2 ;
$teal: #58a6b2 ;
$darkBlue : #089DFF ;
$darkerBlue : #017FD1 ;
$cream : rgb(250, 255, 189) ;
$lighterYellow : #FFD96D ;
$lightYellow : #FFCC3D ;
$yellow : #ffcb01 ;
$darkYellow : #FFBC00 ;
$darkerYellow : #FFBC00 ;
$lighterOrange : #FF936D ;
$lightOrange: #FF6F3D ;
$orange : #FF4C0F ;
$darkOrange : #FF4100 ;


//font
$font : ''