@import "mixins";
@import "variables";
#examples{
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  .button-group{
    width: 50vw;
    float: left;
    position: relative;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    .action-button{
      width: 100%;
      span{
        text-align: center;
      }
    }
  }
  .close-icon{
    position: fixed;
    top: 15px;
    right: 20px;
    color: $lightOrange;
    z-index: +99;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover{
      color: $darkOrange;
    }
  }
  #staticJson{
    width: calc(100% - 40px);
    height:calc(100vh - 40px);
    margin: 20px;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    z-index: +98;
    .post{
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
    }
  }
}