@import "variables";
@import "mixins";

.container {
  width: 100%;
  margin: auto;
}

.grid {
  overflow: hidden;
  @include makeGrid($grid, 12, 5px, "col", false, true);
  @include makeVGrid(0, 12, 5px, "vcol", 0, 0);
}

body {
  width: 100%;
  min-height: 100vw;
  height: 100%;
  //overflow: hidden;
  background: {
    color: $purple;
  };
  font-family: 'Pacifico', cursive;
  margin: 0 !important;
}

h1{
  color: white;
  text-align: center;
}

.action-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  position: relative;
  padding: 10px 40px;
  margin: {
    top: 10px;
    bottom: 0px;
    right: 5px;
    left: 5px;
  }
  float: left;
  border-radius: 10px;
  font-size: 25px;
  color: $purple;
  text-decoration: none;
  &:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
  }
  background-color: white;
  border-bottom: 5px solid #ccc;
  //text-shadow: 0px -2px #ccc;
}
